/* style main page */
html {
    scroll-behavior: smooth;
  }
  
a[href]{
    padding: 0.5em;
    text-decoration: none;
    color: black;
  }
  a[href]:hover{
      font-size: 30px;
  }

#mainbody{
    background-image: url(hikingbackground.jpg);
    background-size: 100%;
    z-index: -1;
}

.navbar{
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: hsl(0, 0%, 83%, 0.70);
    width: 100%;
}

.navcons{
    display: inline;
    padding: 1em;
}

.wellcomesec {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: lightskyblue;
    opacity: 80%; 
    border: solid black; 
    border-radius: 1rem;

}

.titlebox{
    border: solid black;
    border-radius: 1rem;
    text-align: center;

}

.summerybox{
    line-height: 3em;
    font-family: sans-serif;
    font-size: 30 px;
    padding: 1em;
    margin-top: 1em;
    border: solid black;
    border-radius: 1rem;
    flex-basis: 50%;

}

.tablecontent{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    font-size: 20px;
    padding: 0.5em;
    margin: 1em;
}


.southbox{
    text-align: center;
    border: solid #ccc 1px;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgb(255, 166, 0, 0.5);
    flex-basis: 33%;
}

.centerbox{
    text-align: center;
    border: solid #ccc 1px;
    border-radius: 1rem;
    padding: 1rem;
    background-color: hsl(240, 100%, 50%, 0.5);
    flex-basis: 33%;
}

.northbox{
    text-align: center;
    border: solid #ccc 1px;
    border-radius: 1rem;
    padding: 1rem;
    background-color: hsl(0, 0%, 100%, 0.5);
    flex-basis: 33%;
}

/* south page */

#southpage{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 25%);    
    width: 100vw;
    height: 100vh;
}
.wellcomebox{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    font-size: 40px;
}

.infoseclinks{
    display: flex;
    justify-content: space-around;
    border: sienna solid 1px;
    padding: vpw;
    width: 100%;
    border-radius: 1rem;
}

li.infoseclinks{
    border: blacks solid 1px;
    margin: 10px;
    font-size: 20px;
}
 .secbox a[href]:hover{
     font-size: unset;
 }

 .secbox{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     
 }
 
.section{
    width: 100vw;
    height: 100vh;
}

.seclinks{
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-around;
}


.traillabel{
    display: flex;
    border: solid black 1px;
    border-radius: 2em;
    padding: 2em;
    margin: 10px;
}

#imgtrail{width:318px; height: 159px;}

.tipbox{
    display: flex;
    border: black solid 1px;
    border-radius: 10em;
    justify-content: center;
    padding: 2em;
}
    
/* centerpage */

#centerpage{
    background: rgb(241,251,254);
    background: linear-gradient(0deg, rgba(241,251,254,1) 40%, rgba(225,245,253,1) 64%, rgba(197,235,250,1) 100%, rgba(253,255,255,0) 100%);
    width: 100vw;
    height: 100vh;
}

/*northpage*/
    #northpage{
        background: rgb(73,204,65);
        background: linear-gradient(0deg, rgba(73,204,65,0) 0%, rgba(146,226,141,1) 0%, rgba(241,254,241,1) 47%, rgba(190,239,188,1) 63%, rgba(190,239,188,1) 94%);
        width: 100vw;
        height: 100vh;
    }
    